.navbar {
    display: flex;
    /* padding: 0px 20px; */
    background:#29BF89;
    color: #fff !important;
    border-radius: 0 !important;
    font-size: 0.9em;
    max-height: 100px;
    text-transform: capitalize;
    box-shadow: 0 5px 5px -5px #333;
    justify-content: space-between;
}

.navbar-title {
    padding: 0 1vw;
}

.navbar-options {
    display: flex;
}

.navbar-section {
    padding: 0 1vw;
}