body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 14px;
  }

.tablesize {
  /* margin: 80px 5px 0 5px; */
  height: 60vh;
  width: 50vw;
  min-width: 400px;
}
.outersize {
  margin: 20px 0px 0 10px;
  height: 60vh;
  width: 50vw;
  min-width: 400px;
  display: flex;
}

.store {
  display: flex;
  justify-content: center;
}

.item {
  align-self: center;
}