.recipeContainer {
    display: flex;
    flex-direction: row;
}

textarea {
    height: 25vh;
    width: 25vw;
}

.recipe-input {
    /* margin: 0 15vw; */
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 25%;
}

.recipe-output {
    /* margin-right: 15vw; */
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 25%;
}

.recipe-ingredient {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-ingredient-item {
    text-align: left;
    width: 33%;
}