

.clicked {
    background-color: #29BF89; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    margin: 0.25vh 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 7vw;
    min-width: 80px;
}

.unclicked {
    background-color: #0083BB; /* Blue */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    margin: 0.25vh 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 7vw;
    min-width: 80px;
}

.week-meals-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.meal-totals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meal-total-item {
    display: inline-block;
    margin: 10px;
}

.week-heading {
    font-size: 2em;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-block;
}

.week-meals-container>.person {
    display: flex;
    flex-direction: column;
    display: inline-block;
    justify-content: flex-start;
    /* align-items: flex-start; */
    /* background-color: black; */
    /* margin: 0; */
    /* padding: 0; */
}

.input {
    max-width: 8vw;
}

.person1 {
    padding: 0;
}

.person>.input-input-0 {
    margin-top:1vh;
}
.person>.remove {
    justify-content: flex-start;
}

.meal-total-item {
    width: 121px;
}

.meal-container {
    margin: 2px;
}


